<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Ruta video publish-->
    <add key="VideoPublish" value="C:\Users\William Ruiz\Desktop\ProyectosE-City\APOSTAR\WPFApostar\WPFApostar\bin\Debug\Images\Publish\Vending.mp4" />

	  <!-- API DASHBOARD-->
	  <add key="apiBaseAddress" value="https://apidashboardv2.e-city.co/" />
	  <add key="apiKeyId" value="1E4F66B8-8602-4F9F-9AAC-F1D329A4AB1D" />



	  <!-- LOGIN PRUEBAS-->
	  
	  <add key="username" value="Pay+ Prueba1" />
	  <add key="paypadId" value="1" />
	  <add key="pwd" value="gk1AK0jm8t/Rf7PurAyJtIURothKG8ikaxenmSBJYHfn7aOvQroIUn4iAiyNDoOi5TaJjFDQx+gtyArGvXTkRplilB2z3BT83uMXC3T8MMsXnj3/jDHiS0Pk2aCeTeE6eiF2k/eHqsDfq8sQn7cCxpMozREGwz2nWrpFBhU7Dpe4Fht1XTCb7hnGAMmrtIqdDr78MDkkcVYIjfoIOZYw5RqFWohKYdRg7Pq6HYtpWWvKTwOR8O2WCom/lCRX+EwkGC7+sMZqPN/eWEAK59SJOQ9UMpNcWYVztmhMhIEY4YbdqIp1lQ0dufoXF0e4YlE8kNPJ5dSFlEO624M3C3sVdw==" />
	 
	  <!-- API RUTAS DASHBOARD-->
	  
	  <add key="Login" value="Auth/LoginPayPad" />
	  <add key="Validate" value="api/PayPad/Validate" />
	  <add key="Transaction" value="api/Transaction/Paypad" />
	  <add key="TransactionDetails" value="api/Transaction/Paypad/Details" />

	  
	  
	  
  </appSettings>
</configuration>