<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Ruta video publish-->
    <add key="VideoPublish" value="C:\Users\William Ruiz\Desktop\ProyectosE-City\APOSTAR\WPFApostar\WPFApostar\bin\Debug\Images\Publish\Vending.mp4" />

	  <!-- API DASHBOARD-->
	  <add key="apiBaseAddress" value="https://apidashboardv2.e-city.co/" />
	  <add key="apiKeyId" value="1E4F66B8-8602-4F9F-9AAC-F1D329A4AB1D" />
	  
	  <!--Begin ApiIntegration-->
	  <add key="basseAddressIntegration" value="https://apiapostar.e-city.co/" />
	  <!--End ApiIntegration-->


	  <!-- LOGIN PRUEBAS-->
	  
	  <add key="username" value="Pay+ Prueba1" />
	  <add key="paypadId" value="1" />
	  <add key="pwd" value="gk1AK0jm8t/Rf7PurAyJtIURothKG8ikaxenmSBJYHfn7aOvQroIUn4iAiyNDoOi5TaJjFDQx+gtyArGvXTkRplilB2z3BT83uMXC3T8MMsXnj3/jDHiS0Pk2aCeTeE6eiF2k/eHqsDfq8sQn7cCxpMozREGwz2nWrpFBhU7Dpe4Fht1XTCb7hnGAMmrtIqdDr78MDkkcVYIjfoIOZYw5RqFWohKYdRg7Pq6HYtpWWvKTwOR8O2WCom/lCRX+EwkGC7+sMZqPN/eWEAK59SJOQ9UMpNcWYVztmhMhIEY4YbdqIp1lQ0dufoXF0e4YlE8kNPJ5dSFlEO624M3C3sVdw==" />
	 
	  <!-- API RUTAS DASHBOARD-->
	  
	  <add key="Login" value="Auth/LoginPayPad" />
	  <add key="Validate" value="api/PayPad/Validate" />
	  <add key="Transaction" value="api/Transaction/Paypad" />
	  <add key="TransactionDetails" value="api/Transaction/Paypad/Details" />

	  <!--Puntos de venta-->
	  <!--Oficina Principal-->
	  <add key="UbicacionMaquina" value="Arboleda" />
	  <add key="PuntoOficina" value="87" />
	  <add key="PuntoVenta" value="901092458" />
	  <!--End Puntos de venta-->
	  <!--BEGIN SERVICES INTEGRATION-->
	  <add key="GetProductsBetPlay" value="Apostar/BetPlay/GetProducts" />
	  <add key="GetTokenBetplay" value="Apostar/BetPlay/GetToken" />
	  <add key="NotifyRecharge" value="Apostar/BetPlay/NotifyRecharge" />
	  <!--Chance SERVICES INTEGRATION-->
	  <add key="GetProductsChance" value="Apostar/Chance/ConsultProducts" />
	  <add key="ValidateChance" value="Apostar/Chance/ValidateChance" />
	  <add key="GetLotteries" value="Apostar/Chance/GetLoteriesChance" />
	  <add key="NotifyChance" value="Apostar/Chance/NotifyChance" />
	  <add key="TypeChance" value="Apostar/Chance/ConsultTypesChance" />
	  <!--Recaudo SERVICES INTEGRATION-->
	  <add key="GetRecaudo" value="Apostar/Recaudo/ConsultRecaudos" />
	  <add key="GetParameters" value="Apostar/Recaudo/ConsultParameters" />
	  <add key="ConsultRecaudo" value="Apostar/Recaudo/ConsultDataValue" />
	  <add key="NotifyPay" value="Apostar/Recaudo/NotifyRecaudo" />
	  <add key="IdDepartamento" value="66" />
	  <!--PayerAlerts SERVICES INTEGRATION-->
	  <add key="SaveUser" value="Apostar/Payer/SavePayer" />
	  <add key="SendAlert" value="Apostar/Payer/SendAlert" />
	  <!--Datos de chances-->
	  <add key="iva_porcentaje" value="19" />
	  <!--Paquetes SERVICES INTEGRATION-->
	  <add key="ConsultSubproductosPaquetes" value="Apostar/Recargas/ConsultSubproductosPaquetes" />
	  <add key="ConsultarPaquetes" value="Apostar/Recargas/ConsultarPaquetes" />
	  <add key="GuardarPaquetes" value="Apostar/Recargas/GuardarPaquetes" />
	  <!--End Request Data Recharge-->


	  <!--Logs-->
	  <add key="PathLog" value="C:\Users\A320\Desktop\WPFApostar-main\WPFApostar\bin\Debug\Log_app" />
	  <!--End Logs-->
	  
	  
  </appSettings>
</configuration>